<h1>Login Page</h1>
<label for="fname">FirstName : </label>
<input type="text" placeholder="Enter FirstName" name="fname" required>
<br>
<br>
<label for ="lname"> LastName : </label>
<input type="text" placeholder="Enter LastName" name="lname" required>
<br>
<br>
<label for ="email"> Email  : </label>
<input type="text" placeholder="Enter Email" name="email" required>
<br>
<br>
<label for ="mobile"> Mobile : </label>
<input type="text" placeholder="Enter Mobile" name="mobile" >
<br>
<br>
<label>Male </label>
<input type ="radio" placeholder="Male" name="male">
<label> Female</label>
<input type ="radio" placeholder="Female" name="female">
<br>
<br>
<input type = "checkbox" placeholder="active" name="checkactive">
<label> If the User is Active</label>
<br>
<br>
<button type="submit" value="Submit">Submit</button>
  <button type="cancel" value="cancel">Cancel</button>
